.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: .3s;
}

.navbar-scroll{
  background: rgba(255,255,255,.75);
  /* backdrop-filter: blur(15px); */
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.nav-container{
  max-width:1300px;
  margin:auto;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:28px;
  font-weight:700;
  color:#0F766E;
}

.logo span{
  color:#14B8A6;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:35px;
}

.nav-links a{
  color:#333;
  font-weight:500;
  position:relative;
  transition:.3s;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#14B8A6;
  transition:.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after{
  width:100%;
}

.nav-links a.active{
  color:#14B8A6;
}

.list-btn{
  background:#14B8A6;
  color:white;
  padding:12px 22px;
  border-radius:50px;
  font-weight:600;
  transition:.3s;
}

.list-btn:hover{
  transform:translateY(-3px);
  background:#0F766E;
}

.menu-icon{
  display:none;
  font-size:34px;
  cursor:pointer;
}

@media(max-width:900px){

.nav-container{
padding:18px 25px;
}

.menu-icon{
display:block;
}

.nav-links{
position:fixed;
top:80px;
right:-100%;
width:270px;
height:100vh;
background:white;
flex-direction:column;
padding-top:40px;
gap:30px;
transition:.35s;
box-shadow:-10px 0 20px rgba(0,0,0,.08);
}

.nav-links.active{
right:0;
}

}