.pg-card{

background:white;

border-radius:22px;

overflow:hidden;

box-shadow:0 12px 25px rgba(0,0,0,.08);

transition:.35s;

}

.pg-image{

position:relative;

height:260px;

overflow:hidden;

}

.pg-image img{

height:100%;

object-fit:cover;

transition:.4s;

}

.pg-card:hover img{

transform:scale(1.08);

}

.favorite{

position:absolute;

right:18px;

top:18px;

background:white;

width:42px;

height:42px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:#ef4444;

}

.verified{

position:absolute;

left:18px;

top:18px;

background:#16a34a;

color:white;

padding:8px 15px;

border-radius:30px;

font-size:13px;

}

.rating{

position:absolute;

right:18px;

bottom:18px;

background:white;

padding:8px 14px;

border-radius:30px;

font-weight:600;

}

.pg-info{

padding:24px;

}

.location{

margin:15px 0;

display:flex;

gap:10px;

align-items:center;

color:#64748B;

}

.amenities{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:20px;

}

.amenities span{

background:#ECFEFF;

color:#0F766E;

padding:8px 12px;

border-radius:30px;

font-size:13px;

}

.review{

display:flex;

gap:10px;

margin-bottom:22px;

}

.bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

.bottom button{

background:#14B8A6;

color:white;

padding:12px 18px;

border-radius:10px;

font-weight:600;

transition:.3s;

}

.bottom button:hover{

background:#0F766E;

}